@import "mixins";

.registration {
    &__wrapper {
        @include form-wrapper;
    }

    &__title {
        @include form-title;
    }

    &__box {
        @include form-box;
    }

    &__input {
        @include form-input;
    }

    &__button {
        @include form-button;
    }
}

.registration-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: var(--additional-bg-color);
        background-color: #bdbdbd;
        width: 100px;
        height: 100px;
    }
}

.svg-icon__avatar {
    fill: currentColor;
    width: 75%;
    height: 75%;
}
