@import "container";
@import "buttons";
@import "comments";
@import "article";
@import "header";
@import "inputfield";
@import "login";
@import "main";
@import "registration";
@import "sidebar";
@import "title";

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-style: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    color: rgba(0, 0, 0, 0.87);
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    background-color: var(--main-bg-color);
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

:root {
    --main-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    --main-bg-color: #f0eeee;
    --additional-bg-color: #fff;
}
