<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <form action="" class="login">
        <div class="login__wrapper">
            <h5 class="login__title title">
                Авторизация
            </h5>
            <div class="login__email input-field">
                <div class="login__box">
                    <input type="email" class="login__input" placeholder="Email">
                </div>
            </div>
            <div class="login__password input-field">
                <div class="login__box">
                    <input type="password" class="login__input" placeholder="Пароль">
                </div>
            </div>
            <button class="login__button button" type="button">
                Войти
            </button>
        </div>
    </form>
</body>

</html>