<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <form action="" class="registration">
        <div class="registration__wrapper">
            <h5 class="registration__title title">
                Создание аккаунта
            </h5>
            <div class="registration-avatar ">
                <div class="registration-avatar__wrapper">
                    <img class="svg-icon__avatar" src="/img/icons/icon-avatar.svg" alt="Иконка пользователя">
                </div>
            </div>
            <div class="registration__name input-field">
                <div class="registration__box">
                    <input type="text" class="registration__input" placeholder="Полное имя">
                </div>
            </div>
            <div class="registration__email input-field">
                <div class="registration__box">
                    <input type="email" class="registration__input" placeholder="Email">
                </div>
            </div>
            <div class="registration__nick input-field">
                <div class="registration__box">
                    <input type="text" class="registration__input" placeholder="Имя на сайте">
                </div>
            </div>
            <button class="registration__button button" type="button">
                Зарегистрироваться
            </button>
        </div>
    </form>
</body>

</html>