<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateAcc</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <form action="" class="createAcc">
        <div class="createAcc__wrapper">
            <h5 class="createAcc__title title">
                Создание аккаунта
            </h5>
            <div class="createAcc-avatar ">
                <div class="createAcc-avatar__wrapper">
                    <svg class="svgIcon__avatar" focusable="false" aria-hidden="true" viewBox="0 0 24 24"
                        data-testid="PersonIcon">
                        <path
                            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z">
                        </path>
                    </svg>
                </div>
            </div>
            <div class="createAcc__name input-field">
                <div class="createAcc__box">
                    <input type="text" class="createAcc__input" placeholder="Полное имя">
                </div>
            </div>
            <div class="createAcc__email input-field">
                <div class="createAcc__box">
                    <input type="email" class="createAcc__input" placeholder="Email">
                </div>
            </div>
            <div class="createAcc__nick input-field">
                <div class="createAcc__box">
                    <input type="text" class="createAcc__input" placeholder="Имя на сайте">
                </div>
            </div>
            <button class="createAcc__button button" type="button">Зарегистрироваться</button>
        </div>
    </form>
</body>

</html>